.inicio{
    margin-right: 20px;
}
.ropa{
    margin-right: 20px;
}
.nosostros{
    margin-left: 20px;
}

a{
    text-decoration: none;
    color:white;
}
nav{
    width: 80%;
    background-color: black;
    margin: 10px auto;
    height: 20px;
}   

.title{
        margin-left:  510px ;
        height: 20px;   
        font-family: 'Noto Serif', serif;
        color: white;
}

.cuadro{
    width: 80%;
    background-color: black;
}

.btnCuadro{
    color: black;
    margin-left: 150px;
}