.inicio{
    margin-right: 10%;
}
.remeras{
    margin-right: 10%;
}
.niños{
    margin-right: 10%;
}

.nosostros{
    margin-right: 10%;
}
.productos{
    margin-left: 10%;
}
a{
    text-decoration: none;
    color:white;
    
}
nav{
    width: 80%;
    background-color: black;
    margin: 10px auto;
    height: 20px;
}   

.title{
        margin-left:  500px ;
        height: 40px;   
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
}
.title2{
    margin-left:  100px ;
    height: 45px;   
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    
}
.h1Products{
    text-align: center;
}

.h3{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}


@media only screen and (max-width: 992px) {
    body{
        background-color: black;
    }
    .title{
        margin-left:  200px ;
        color: #ffffff;
    }
    nav{
        max-width: 65%;
        width: 85%;
        background-color: #39464d;
        margin: 10px auto;
        height: 20px;
    }
}

@media only screen and (max-width: 768px){
    body{
        background-color:rgb(3, 8, 34);
    }
    .title{
        margin-left:  150px ;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    nav{
        background-color: #45697c;
    }
}