body{
    background-color: #1e2e36;
}

.menu{
    
    color: white;
    text-transform: uppercase;
    font-family: 'Noto Serif', serif;
    margin-right: 150px;
    margin-top: 50px;
    text-align: center;  
}

 